PassengerEnabled On
PassengerPython /home/a/anderhul/anderaiu.su/env/bin/python
<ifModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
<Files "*.py">
    Require all denied
</Files>
<Files "*.sqlite3">
    Require all denied
</Files>
<Files "*.yml">
    Require all denied
</Files>
<Files "*.php">
    Require all denied
</Files>
<Files "*.html">
    Require all denied
</Files>
ErrorDocument 404 /?name=404
ErrorDocument 403 /?name=404
