{% extends "admin/base.html" %}
 
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
 
{% block branding %}
<h1 id="site-name" style="font-family: cursive;" ><a href="{% url 'admin:index' %}">AIU Админ панель</a></h1>
{% endblock %}

{% block aiufavicon %}
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon-admin/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-admin/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-admin/favicon-16x16.png' %}">
<link rel="manifest" href="{% static '/favicon-admin/site.webmanifest' %}">
{% endblock %}
 
{% block nav-global %}{% endblock %}